.title{
    color:rgb(241, 16, 16);
}
.card {
    box-shadow: 3px 3px 3px black;
    width: 500px;
    padding: 10px;
    display: flex;
    }
.images {
    width: 100%;
}
.tour-card-grid{
    background:rgb(158, 190, 202);
    max-width: 32%;
    box-shadow: 20px 3px  black;
    margin: 0.6%;
}