.title{
    color:rgb(241, 16, 16);
}
.card {
    box-shadow: 3px 3px 3px black;
    width: 500px;
    padding: 10px;
    display: flex;
    }
.images {
    width: 100%;
}

/* .main-card{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 3rem;
}
.card{
    width: 30rem;
    background-color: rgb(173, 167, 167);
    box-shadow: 1rem 1.2rem 2.4rem black;
    border-radius: o.8rem;
    overflow: hidden;
    transition: all 0.4s;
    /* display: flex;
    flex-direction: column; */
/* }
.card:hover{
    transform: translate(5px, -10px);
}    */ */